<%- include('../_partials/_head'); -%>

<h1>Edit User</h1>

<form method="post" action="/u/edit">
    <div>
        <label for="fullname">Full name</label>
        <input id="fullname" name="fullname" type="text" value="<%= user.fullname %>">
    </div>

    <div>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" value="<%= user.username %>">
    </div>

    <div>
        <label for="email">Email</label>
        <input id="email" name="email" type="email" value="<%= user.email %>">
    </div>

    <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
    </div>

    <div>
        <label for="biography">Biography</label>
        <textarea id="biography" name="biography" type="text"><%= user.biography %></textarea>
    </div>

    <div>
        <ul id="information">
            
        </ul>

        <button id="addInformation" type="button">Add information</button>
    </div>

    <button type="submit">Edit</button>
</form>

<button type="button" onclick="deleteUser('<%= user.username %>')">Delete profile</button>

<script src="/js/editUser.js"></script>

<%- include('../_partials/_foot'); -%>