<%- include('../_partials/_head'); -%>

<ol>
    <li>Full name: <%= user.fullname %></li>
    <li>Nickname: <%= user.nickname %></li>
    <li>Email: <%= user.email %></li>
    <li>Biography: <%= user.biography %></li>
</ol>

<%- include('../_partials/_foot'); -%>